# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
lib/
lib64/
var/
wheels/

# Logs
*.log

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# Environments
.env
.venv
env/
venv/

# Ruff stuff:
.ruff_cache/
